```{=html}

<% for (const item of items) { %>
  <h5><code><%= item.option %></code></h5>
  <div class="options-block" >
  <p><%= item.description %></p>
  <dl>
  <% if (item['format']) { %>
    <dt>format</dt>
    <dd><%= item['format'] %></dd>
  <% } %>
  <% if (item['parent-key']) { %>
    <dt>parent key</dt>
    <dd><code><%= item['parent-key'] %></code></dd>
  <% } %>
  <% if (item['possible-values']) { %>
    <dt>possible values</dt>
    <dd>
      <ul>
      <% let index = 0; %> 
      <% for (const val of item['possible-values']) { %>
        <li>
          <code><%= val %></code>
        </li>
      <% index++; %>
      <% } %>
      </ul>
    </dd>
  <% } %>
  </dl>
  </div>
<% } %>
```